---
layout: default
title: tags
permalink: /tags/
---

<h1 style="text-align: center">
  Themes
</h1>
<div style="text-align: left; max-width: 100%; margin-left: auto; margin-right: auto;">
  <p>
    This page lists all the themes used in the blog posts. Each post has a main topic, but 
    I also tag the post with "themes" to group them across the major topics. Here you'll 
    find a list of all the themes that are used in the blog, along with the posts that are 
    associated with each them. When you hover over a theme, you can scroll through the posts
    and navigate to them to check them out.
  </p>
</div>
<ul class="tag-list">
  {% for tag in site.data.tags %}
    <li class="tag-box" id="{{ tag.name | slugify }}">
      <div class="tag-info">
        <h2 class="tag-name">{{ tag.name }}</h2>
        <p class="tag-description">{{ tag.description }}</p>
      </div>
      <div class="tag-posts">
        <ul class="tag-posts-list">
          {% assign matching_posts = site.posts | where: "tags", tag.name %}
          {% assign post_count = matching_posts | size %}
          {% assign counter = 0 %}
          {% for post in site.posts %}
            {% if post.tags contains tag.name %}
              {% assign counter = counter | plus: 1 %}
              <li>
                <a href="{{ post.url }}" data-description="{{ post.subtitle }}">
                  {{ post.title }}
                </a>
              </li>
              {% unless counter == post_count %}
                <hr class="tag-spacer">
              {% endunless %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </li>
  {% endfor %}
</ul>

<script src="{{ '/assets/js/move-tags.js' | relative_url }}"></script>
<script src="{{ '/assets/js/scroll-to-tag.js' | relative_url }}"></script>
