---
layout: default
title: Tags
permalink: /tags/
---

{% assign tags_data = site.data.tags %}

<ul class="tag-box inline">
{% for tag in sorted_tags %}
  {% assign tag_name = tag | strip %}
  <li>
    <a href="#{{ tag_name | slugize }}">
      {{ tags_data[tag_name].name }}
      <span>{{ site.tags[tag_name].size }}</span>
    </a>
  </li>
{% endfor %}
</ul>

{% for tag in sorted_tags %}
  {% assign tag_name = tag | strip %}
  <!-- might need to make this tag_name | slugify somewhere to link from clicking on the tags -->
  <h3 id="{{ tag_name | slugize }}">{{ tags_data[tag_name].name }}</h3>
  <p>{{ tags_data[tag_name].description }}</p>
  <ul>
    {% for post in site.tags[tag_name] %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d-%m-%Y" }}</time>
      </li>
    {% endfor %}
  </ul>
{% endfor %}