---
---

:root {
    --color-dark: #025050; //#324d4d
    --color-darkish: #476e6e;
    --color-darkflash: #6cacac;
    --color-flashier: #d5fbff;
    --color-flash: #eafdff;
    --color-base: white;
}

body {
    top: 0;
    font-family: georgia;
    margin: 40px auto 0px auto;
    padding: 10px auto 10px auto;
    justify-content: center;
    display: flex;
    max-width: 800px;
    line-height: 1.4;
}

main {
    padding-bottom: 100px;
}

header {
    background-color: var(--color-dark);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    box-shadow: 0 0 25px 0 black;
    transition: top 0.6s; 
}

header.hidden {
    top: -55px;
}

.centered-content {
    background-color: var(--color-base);
    padding: 20px 40px 20px; 
    margin-top: 40px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
    transition: background-color 0.6s;
}

.centered-content.focus {
    background-color: var(--color-dark);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.9);
}

.centered-content a:link {
    color: var(--color-dark);
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s ease;
}
  
.centered-content a:hover {
    color: var(--color-darkflash);
}

.centered-content a:visited {
    color: var(--color-dark);
}

.centered-content a:visited:hover {
    color: var(--color-darkflash); 
}

.text-highlight {
    text-align: center;
    padding: 10px;
    background-color: var(--color-flash);
    border-radius: 15px;
    font-style: italic;
}

.posts-list {
    margin: 0;
    padding: 10px 0px;
    list-style: none;
}

.post-box {
    padding: 6px 10px;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.8s ease;
}

.post-box:hover {
    background-color: var(--color-flashier);    
}

.post-header, .post-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-title {
    margin: 0;
    font-size: 1.5rem;
}

.post-title a {
    text-decoration: none;
    color: inherit;
}

.post-title a:hover {
    color: inherit;
}


.post-date {
    margin: 0;
    font-size: 1rem;
    color: black;
}

.post-subheader {
    margin: 0;
    font-size: 1.2rem;
}

.tag {
    margin: 1px;
    padding: 0px 2px;
    font-size: 1rem;
    color: gray;
    background-color: var(--color-flash);
    border-radius: 5px;
}

.post-divider {
    margin: 20px 0;
}

.navbar {
    display: flex;
    margin: 0 0 0 0;
    padding: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: 'Georgia';
}

.navbar-left, .navbar-right {
    flex: 1;
}

.navbar-left {
    display: flex;
    justify-content: flex-start;
    padding-left: 25px;
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
}

.navbar-center {
    display: flex;
    flex: 2;
    justify-content: center; /* Center the navigation links */
    max-width: 800px;
}
  
.navbar-center a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: white;
    display: block;
    padding: 5px 5px;
    max-width: 200px;
    font-size: large;
    font-weight: 900;
    border-radius: 12px;
    transition: background-color 0.4s ease;
    transition: box-shadow 0.2s ease;
}

.navbar-center a:hover {
    background-color: #436767;
    box-shadow: 0 0 2px 2px #56bcbc;
}

.navbar-name {
    color: white;
    padding: 5px 5px; 
    font-size: large;
    font-weight: 900;
}

.navbar-item {
    margin: 0px 10px 0px 10px; /* Adjust the value as needed */
}

.navbar-contact {
    color: white;
    text-decoration: none;
    padding: 5px 5px; 
    font-size: large;
    font-weight: 900;
    transition: color 0.4s ease;
}

.navbar-contact:hover {
    color: var(--color-flashier);   
}

.pattern-1 {
    background:
        linear-gradient(135deg, var(--color-base) 21px, var(--color-flash) 22px, var(--color-flash) 24px, transparent 24px, transparent 67px, var(--color-flash) 67px, var(--color-flash) 69px, transparent 69px),
        linear-gradient(225deg, var(--color-base) 21px, var(--color-flash) 22px, var(--color-flash) 24px, transparent 24px, transparent 67px, var(--color-flash) 67px, var(--color-flash) 69px, transparent 69px)0 64px;
    background-color:var(--color-base);
    background-size: 64px 128px;
}

.pattern-2 {
    background-color: var(--color-flash);
    background-image:
        radial-gradient(circle at 100% 150%, var(--color-flash) 24%, white 24%, white 28%, var(--color-flash) 28%, var(--color-flash) 36%, white 36%, white 40%, transparent 40%, transparent),
        radial-gradient(circle at 0    150%, var(--color-flash) 24%, white 24%, white 28%, var(--color-flash) 28%, var(--color-flash) 36%, white 36%, white 40%, transparent 40%, transparent),
        radial-gradient(circle at 50%  100%, white 10%, var(--color-flash) 10%, var(--color-flash) 23%, white 23%, white 30%, var(--color-flash) 30%, var(--color-flash) 43%, white 43%, white 50%, var(--color-flash) 50%, var(--color-flash) 63%, white 63%, white 71%, transparent 71%, transparent),
        radial-gradient(circle at 100% 50%, white 5%, var(--color-flash) 5%, var(--color-flash) 15%, white 15%, white 20%, var(--color-flash) 20%, var(--color-flash) 29%, white 29%, white 34%, var(--color-flash) 34%, var(--color-flash) 44%, white 44%, white 49%, transparent 49%, transparent),
        radial-gradient(circle at 0    50%, white 5%, var(--color-flash) 5%, var(--color-flash) 15%, white 15%, white 20%, var(--color-flash) 20%, var(--color-flash) 29%, white 29%, white 34%, var(--color-flash) 34%, var(--color-flash) 44%, white 44%, white 49%, transparent 49%, transparent);
    background-size: 100px 50px;
}